{% extends "base.html.twig" %}
{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container mx-auto px-4 py-8">
		<div class="text-center">
			<h1 class="text-4xl font-bold bg-gradient-to-r from-blue-800 to-blue-600 text-transparent bg-clip-text mb-8">
				Bienvenue sur Service Dating
			</h1>
			<p class="text-lg text-gray-700 mb-6">
				Service Dating est une application dédiée à la mise en correspondance des compétences des salariés des Entreprises à But d’Emploi (EBE) avec les besoins exprimés par les clients.
			</p>
			<p class="text-lg text-gray-700 mb-6">
				Notre mission est de faciliter l'intégration des personnes privées d'emploi en leur offrant des opportunités au sein des EBE, tout en répondant efficacement aux demandes de services.
			</p>
			<p class="text-lg text-gray-700 mb-6">
				Découvrez comment nous optimisons les affectations et déployons des solutions innovantes pour une économie sociale et solidaire.
			</p>
			<a href="{{ path('create_besoin') }}" class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">
				Ajouter un nouveau besoin
			</a>
		</div>
	</div>
{% endblock %}
